
<% if user_signed_in? %>
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to 'back to admin', root_path, class:'load' %></li>
                        
                    </ul>
                </nav>
                 <% end %>
